$mediaMaxWidth: 1260px;
$mediaBpWidth: 960px;
$mediaMinWidth: 480px;
.card-text{
    @media only screen and (min-width: $mediaMinWidth) {
     font-size: 12px;   
    }
    @media only screen and (min-width: $mediaBpWidth) {
        font-size: 16px; 
    }
    @media only screen and (min-width: $mediaMaxWidth) {
        font-size: 24px;
    }
}
header{
    nav.nav-extended{
            div.row{
                div.col{
                    &.s9{
                        a.brand-logo{
                        @media only screen and (max-width: 480px) {
                            font-size: 1.7rem;   
                        }
                    }
                }
            }
        }
    }
}
.container{
    display: flex;
    align-content: center;
    justify-content: center;
}
.card-margin-sides{
    margin-left: 1rem;
    margin-right: 1rem;
}